extends ../layouts/default

block content
  .container-fluid
    .row.text-center
      h1 Coaching with Cheyenne
    .row.text-center
      .col
        each package in locals.packages
          .postcard
            h3 #{package.title}
            h5 #{package.tagline}
            p
              !=package.details
            h5 #{package.price}
            
  