body {
	font-family: 'Arvo', Verdana, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Permanent Marker', Verdana, cursive;
}
.bg-black {
	background-color: black;
}
#header {
	background-color: black;
	color: white;
	height: 25vh;
}

#header a {
	font-size: 45px;
	color: white;
}

.jumbo-text {
	font-size: 70px;
	text-align: center;
}

.navbar-brand img {
	max-height:200px;
	object-fit: contain;
}

.postcard {
	border: 1px solid gray;
	border-radius: 3px;
	margin: 1rem auto;
	padding: 2rem;
	width: 30%;
}